<h1>Bienvenido, ingresa tus datos para el registro</h1>

<form action="/users/register" method="post">
Nombre: <input type="text" name="firstname"/>
Apellido: <input type="text" name="lastname"/>
Edad: <input type="number" name="age"/>
Email: <input type="text" name="email"/>
Telefono: <input type="number" name="phone"/>
<input type="submit" value="REGISTRO">
</form>